/**
 * Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 *
 * @since   [version]
 * @version [version]
 */

.wp-block-llms-course-progress {

	display: flex;
	.progress-bar {
		background: $color-grey-light;
		border-radius: 4px;
		flex: 1;
		margin: 10px 0;
		overflow: hidden;
		.progress--fill {
			background: $color-brand-blue;
			height: 100%;
			width: 50%;
		}
	}
	span {
		padding-left: 5px;
		vertical-align: middle;
	}

}
