/**
 * Editor Styles for block visibility Inspector Components
 *
 * @since    1.0.0
 * @version  1.6.0
 */

.llms-block-enrollment-visibility {

	display: none;

	background: $color-grey-light-extra;
	color: $color-editor-text;
	left: -14px;
	line-height: 1;
	margin-bottom: 5px;
	padding: 1px;
	position: absolute;
	top: -14px;

	svg {
		height: 13px;
		width: 13px;
	}
}

.wp-block.editor-block-list__block {
	&.is-selected,
	&.is-hovered {
		.llms-block-enrollment-visibility {
			display: block;
		}
	}
}
