/**
 * Common SCSS
 *
 * Include variables and mixins that are used across the project.
 *
 * @since   [version]
 * @version [version]
 */

$color-brand-blue: #2295ff;
$color-grey-light: #dedede;

@mixin clearfix() {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}
