// ----- Cols ----- \\
.llms-cols {
	@include clearfix;

	.llms-col {
		width: 100%;
	}

	@media all and (min-width: 600px) {
		[class*="llms-col-"] {
			float: left;
		}

		$cols: 1;
		@while $cols <= 12 {
			.llms-col-#{$cols} {
				width: calc(100% / $cols);
			}
			$cols: $cols + 1;
		}

	}

}

@media (min-width: 600px) {
  .edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit {
    padding-left: 0;
    padding-right: 0;
  }
}
